<h1>Par Levels</h1>

<%= link_to 'Add Par level', new_par_level_path(:par_sheet => params[:par_sheet]), class: "btn primary left" %>
<br><br><br><br>


<table class="details">
  <% @count = 0 %>
  <thead>
    <tr>
      <th>Product</th>
      <th>Number</th>
      <th>Par level</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @par_levels.each do |par_level| %>
      <% @count = @count + 1 %>
      <% if ((@count.to_i % 2) == 0) %>
        <tr class="even">
      <% else %>
        <tr class="odd">
      <% end %>
        <td><%= Product.find_by(bhproduct_number: par_level.bhproduct_number).name %></td>
        <td><%= par_level.bhproduct_number %></td>
        <td><%= par_level.parlevel %> <%= par_level.count_type %></td>
        <td><%= link_to 'Edit', edit_par_level_path(par_level), class: "btn small" %></td>
        <td><%= link_to 'Delete', par_level, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn small negative" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Back', par_sheets_path, class: "btn small left" %>


