<p id="notice"><%= notice %></p>

<p>
  <strong>Truck:</strong>
  <%= @par_level.truck %>
</p>

<p>
  <strong>Product:</strong>
  <%= @par_level.product %>
</p>

<p>
  <strong>Day:</strong>
  <%= @par_level.day %>
</p>

<p>
  <strong>Parlevel:</strong>
  <%= @par_level.parlevel %>
</p>

<%= link_to 'Edit', edit_par_level_path(@par_level) %> |
<%= link_to 'Back', par_levels_path %>
