<%= form_for(@detail) do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-bottom:0px">
    <%= f.label "Product Number"%><br>
    <%= f.number_field :bhproduct_number %>
    <div class="productLookupResult alert" id="productLookupResult" style="width:170px">
      &nbsp;
    </div>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <% if params.has_key?(:inventorysession_id) %>
    <div class="field hidden">
      <%= f.label :inventorysession_id %><br>
      <%= f.number_field :inventorysession_id, :value => params[:inventorysession_id]  %>
  <% else %>
    <div class="field">
      <%= f.label :inventorysession_id %><br>
      <%= f.number_field :inventorysession_id %>
   <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :disabled => true, :id => "detailsSubmit"%>
  </div>
<% end %>
